# DataFramee

Dataframe is a main object in pandas. It is used to represent data with rows and column.

Dataframe is a datastructure represent the data in tabular or excel spread sheet like data.

Creating DataFrame:

In [1]:
import pandas as pd

df = pd.read_csv("Weather_data_fresh.csv")  # read weather.csv data

df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2   03-01-207           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [3]:
# list of tuple

weather_data = [('1/1/2017', 30, 6, 'Rain'),
                ('1/2/2017', 35, 7, 'Sunny'),
                ('1/3/2017', 28, 2, 'Snow'),
                ('1/4/2017', 24, 7, 'Snow'),
                ('1/5/2017', 32, 4, 'Rain'),
                ('1/6/2017', 32, 2, 'Sunny')
               ]

df = pd.DataFrame(weather_data, columns = ['day', 'temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           30          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [4]:
# get dimention of the table

df.shape        # total number of rows and columns

(6, 4)

In [5]:
# if you want to see initial some rows than use head command

df.head()

        day  temperature  windspeed  event
0  1/1/2017           30          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [6]:
# if you want to see initial some rows than use head command

df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [7]:
# Slicing

df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [8]:
df.columns  # print columns in a table

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [9]:
df.day # print particular column data

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [10]:
# Anathor way of accessing column

df['day']   # d.day(both are same)

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [11]:
# get 2 or more columns

df[['day', 'event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [12]:
# get all temperature
df['temperature']

0    30
1    35
2    28
3    24
4    32
5    32
Name: temperature, dtype: int64

In [14]:
#print max temperature
df['temperature'].max()

35

In [15]:
#print min temperature
df['temperature'].min()

24

In [16]:
# print max temperature
df['temperature'].describe()

count     6.000000
mean     30.166667
std       3.816630
min      24.000000
25%      28.500000
50%      31.000000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [17]:
# select rows which has maximum temperature
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [18]:
# select only one day column which has maximum temperature
df.day[df.temperature == df.temperature.max()]

1    1/2/2017
Name: day, dtype: object