# Installation

pip install pandas

# Pandas

Pandas is a python module that makes data science easy and effective.

Whether Dataset

Questions?

1. What is the maxmimum tempreture in new york in the month of january?

2. On which days did it rains?

3. What was the average speed of wind during the month?

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("nyc_weather.csv")
dataset.head(10)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

In [4]:
dataset.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [5]:
# Get the maximum temparature

dataset['Temperature'].max()

50

In [6]:
# to know which day it rains

dataset['EST'][dataset['Events'] == 'Rain']

8     01-09-2016
9     01-10-2016
15     1/16/2016
26     1/27/2016
Name: EST, dtype: object

In [7]:
# Average wind speed

dataset['WindSpeedMPH'].mean()

6.892857142857143